
<form [formGroup]="instituicaoForm" novalidate>
  <div class="panel">
    <div class="panel-body">

      <div class="row">

          <div class="col-xs-6">
            <input-container label="Mantenedora"><br>
            <select formControlName="mantenedora" class="form-control" [compareWith]="compareFn">
              <option  *ngFor="let m of mantenedoras" [ngValue]="m">{{ m.codigo }}</option>
            </select>
          </input-container>
          </div>

        <div class="col-xs-6">
          <input-container label="Nome">
          <input type="text" class="form-control" formControlName="nome">
          </input-container>
        </div>

        <div class="col-xs-6">
          <input-container label="Código">
            <input type="text" class="form-control" formControlName="codigo">
          </input-container>
        </div>

        <div class="col-xs-6">
          <input-container label="Bairro">
            <input type="text" class="form-control" formControlName="bairro">
          </input-container>
        </div>

        <div class="col-xs-6">
          <input-container label="Logradouro (Endereço)">
          <input type="text" class="form-control" placeholder="Logradouro" formControlName="logradouro" autocomplete="off">
          </input-container>
        </div>

        <div class="col-xs-6">
          <input-container label="Caixa Postal">
            <input type="number" class="form-control" formControlName="caixaPostal">
          </input-container>
        </div>

        <div class="col-xs-6">
          <input-container label="País">
            <input type="text" class="form-control" formControlName="pais">
          </input-container>
        </div>

        <div class="col-xs-6">
          <input-container label="Numero Fiscal">
            <input type="number" class="form-control" formControlName="numeroFiscal">
          </input-container>
        </div>

        <div class="col-xs-6">
          <input-container label="Provincia (Estado)">
            <input type="text" class="form-control" formControlName="provincia">
          </input-container>
        </div>

        <div class="col-xs-6">
          <input-container label="Municipio">
            <input type="text" class="form-control" formControlName="municipio">
          </input-container>
        </div>

      </div>
    </div>
    <div class="panel-footer">
      <button [routerLink]="['/instituicao/alterar', instituicao.id]" class="btn btn-primary">
        Alterar
      </button>
      <button [routerLink]="['/instituicao/']" class="btn btn-default">
        Voltar
      </button>
    </div>
  </div>
</form>
